<div class="container-fluid" id="form">
        
    <div class="row d-flex justify-content-between namebar">
        <h2>Manage Customers</h2>
    </div>
    
    <div class="row d-flex justify-content-between namebar" style="border-bottom: none;">
        <div class="d-flex justify-content-start">
            <div class="d-flex align-items-center pagination">
                <span> Page</span>
                <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1vw;"></i>
                <input style="width: 3vw;height: 1.5vw;margin: 0vw .3vw;">
                <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1vw ;"></i>
                <span>of 1 pages</span>
            </div>
            <div class="d-flex align-items-center pagination" style="border-left: .1vw solid black;">
                <span> Views </span>
                <input style="width: 3vw;height: 1.5vw;">
                <span>Per Page</span>
            </div>
            <div class="d-flex align-items-center pagination" style="border-left: .1vw solid black;">
                <span> Total 0 Records Found </span>
            </div>
        </div>
        <div>
            <button class="orgbtn"> Reset Filter</button>
            <button class="orgbtn"> Search </button>
        </div>
    </div>

    <div class=" row d-flex justify-content-between alig-items-center justify-content-center form-header" style="margin-bottom: 0;">
        <div class="d-flex justify-content-start">
            <div class="d-flex align-items-center pagination">
                <span> Select All</span>
            </div>
            <div class="d-flex align-items-center pagination" style="border-left: .1vw solid black;">
                <span> Unselect All </span>
            </div>
            <div class="d-flex align-items-center pagination" style="border-left: .1vw solid black;">
                <span> Selected visible </span>
            </div>             
        </div> 
        <form class="d-flex">
            <label><span>Action</span></label>
            <select name="status" id="status" formControlName="type" class="form-control" class="custominput">
                <option value="1">Any</option>
                <option value="2">Any</option>
            </select>
            <button class="orgbtn"> Search </button>
        </form>
    </div>

     <div class="row d-flex justify-content-start">
       <div class="col-12">
        
        
        <table class="table table-bordered" id="relatedproducts">
            <colgroup>
              <col class="four" />
              <col class="ten" />
              <col class="fifteen" />
              <col class="fifteen" />
              <col class="seven" />
              <col class="seven" />
              <col class="seven" />
              <col class="seven" />
              <col class="seven" />
              <col class="ten" />
              <col class="five" />
              <col class="five" />
            </colgroup>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Group</th>
                <th>Telephone</th>
                <th>Zip</th>
                <th>Country</th>
                <th>State/Province</th>
                <th>Customer Since</th>
                <th>Action</th>
                <th>Action</th>
            </tr>
            <tr>
                <td class="bg"> 
                    <select name="status" id="status" formControlName="type" class="form-control" class="custominput">
                      <option value="1">Any</option>
                      <option value="2">Any</option>
                    </select> 
                </td>
                <td class="bg">
                    <div class="d-flex flex-column">
                        <div class=" d-flex">
                            <label for="from" style="font-size: .8vw;padding: 0;">From:</label>
                            <input id="from" class="custominput" type="date" >
                        </div>
                        <div class=" d-flex justify-content-between">
                            <label for="to" style="font-size: .8vw;padding: 0;">To:</label>
                            <input id="to" class="custominput" type="date" style="margin-left: 1vw;">
                        </div>
                    </div>                      
                </td>
                <td class="bg"> <input id='tagname' class="custominput"> </td>
                <td class="bg"> <input id='tagname' class="custominput"> </td>
                <td class="bg"> 
                    <select name="status" id="status" formControlName="type" class="form-control" class="custominput">
                      <option value="1">Any</option>
                      <option value="2">Any</option>
                    </select> 
                </td>
                <td class="bg"> <input id='tagname' class="custominput"> </td>
                <td class="bg"> <input id='tagname' class="custominput"> </td>
                <td class="bg"> 
                    <select name="status" id="status" formControlName="type" class="form-control" class="custominput">
                      <option value="1">Any</option>
                      <option value="2">Any</option>
                    </select> 
                </td>
                <td class="bg"> <input id='tagname' class="custominput"> </td>
                <td class="bg">
                    <div class="d-flex flex-column">
                        <div class=" d-flex">
                            <label for="from" style="font-size: .8vw;padding: 0;">From:</label>
                            <input id="from" class="custominput" type="date" >
                        </div>
                        <div class=" d-flex justify-content-between">
                            <label for="to" style="font-size: .8vw;padding: 0;">To:</label>
                            <input id="to" class="custominput" type="date" style="margin-left: 1vw;">
                        </div>
                    </div>                      
                </td>
                <td class="bg"></td>
                <td class="bg"></td>
            </tr>
       
            <ng-container *ngFor="let row of rows">
                <tr>
                   <td> <input  class="custominput" type="checkbox" style="margin-left: 0;" ></td>
                   <td>1</td>
                   <td>{{row.firstname}}</td>
                   <td>{{row.email}}</td>
                   <td>{{row.account_type}}</td>
                   <td>{{row.telephone}}</td>
                   <td>{{row.postcode}}</td>
                   <td>{{row.country}}</td>
                   <td>{{row.province}}</td>
                   <td>{{row.created_in}}</td>
                   <td> <a  class="action" href="javascript:void(0)" >Edit</a></td>
                   <td> <a  class="action" href="javascript:void(0)" (click)="deletecustomer(row.email)">Remove</a></td>
                </tr>
            </ng-container>
            

        </table>
        
       </div>
    </div>
 </div>