<div class="container-fluid zeropadding">
  <div class="row">

  <div class="col-12">
   <ul>
      <li><a  style="background-color: orange;">SWORDSKINGDOM</a></li>
      <li><a href="#">Dashboard</a></li>
      <li>
         <a>Sales</a>
         <ul class="dropdown">
            <li> <a href="/manageorders">orders</a> </li>
         </ul>
      </li>
      <li> <a>products</a>
         <ul class="dropdown">
            <a href="/catalogproduct">Manage Products</a>
            <a href="/catalogproduct/create">add products</a>
            <a href="/upsells">uppsells</a>
            <a href="/crosssells">crosssells</a>
            <a href="/relatedproducts">related products</a>
            <a href="/productreviews">products reviews</a>
         </ul>
      </li>
      <li>
         <a>Customers</a>
         <ul class="dropdown">
            <li> <a href="/managecustomers">Manage Customers</a> </li>
            <li> <a href="/onlinecustomers">Online Customers</a> </li>
         </ul>
      </li>
      <li>
         <a>NewsLetters</a>
         <ul class="dropdown">
            <li> <a href="/newslettersubscribers">Manage Newsletters</a> </li>
         </ul>
      </li>
      <li>
         <a>Blogs</a>
         <ul class="dropdown">
            <li> <a href="/blogs">Manage Blogs</a> </li>
            <li> <a href="/blogs/create">Add BLOG</a> </li>
            <li> <a href="/blogreviews">BLOG Reviews</a> </li>
         </ul>
      </li>
      <li>
         <a href="/bestsellers">Best Sellers</a>
      </li>
      <li>
         <a href="/popular">Popular</a>
      </li>
      <li>
         <a href="/specialproducts">Special Products</a>
      </li>
      <li>
         <a href="/hotsales">Hotsales</a>
      </li>
      <li>
         <a href="/managecategory">category</a>
      </li>
      <li>
         <a href="/managesubcategory">subcategory</a>
      </li>
   </ul>
  </div>




   </div>
</div>
<router-outlet></router-outlet>
