<div class="row d-flex justify-content-between namebar">
    <h2>Ertugrul Sword Replica (Default)</h2>
    <div class="d-flex">
    <button class="orgbtn" style="background-color: rgb(216, 212, 212);"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</button>
    <button class="orgbtn"> Edit</button>
    <button class="orgbtn"> <i class="fa fa-plus-circle" aria-hidden="true"></i>  Send Email</button>   
    <button class="orgbtn"> <i class="fa fa-plus-circle" aria-hidden="true"></i>  Credit Memo</button>
    <button class="orgbtn"> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Hold</button>
    <button class="orgbtn"> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Ship</button>
   </div>
</div>