<div class="container-fluid" id="form">
    <app-orderheader></app-orderheader>
    <div class=" row d-flex justify-content-between alig-items-center justify-content-center form-header">
        <h3>Related Products</h3> 
        <button> <i class="fa fa-plus-circle" aria-hidden="true"></i>  Create New Attribute</button>
    </div>
    <div class="row d-flex justify-content-start">
       <div class="col-12">
         
        <div class="container-fluid">
           <div class="row d-flex">
            <div class="col-6" >
                   
                <table class="table ">
                    <colgroup>
                      <col class="forty" />
                      <col class="sixty" />
                    </colgroup>
                    <tr>
                        <th colspan = "2"> Order# 2000 (the order confirmation was sent)</th>
                     </tr>
                    <tr>
                        <td> ORDER DATE </td>
                        <td> 25 DEC </td>
                    </tr>
                    <tr>
                        <td> ORDER Status </td>
                        <td> 25 DEC </td>
                    </tr>
                    <tr>
                        <td> PurchaseFrom </td>
                        <td> swordskingdom <br> swordskingdom <br> swordskingdom <br> </td>
                    </tr>
                    <tr>
                        <td> Placed from IP </td>
                        <td> 11111111111111111111111 </td>
                    </tr>
                </table>

            </div>
            <div class="col-6">
                 
                <table class="table ">
                                     
                    <colgroup>
                      <col class="forty" />
                      <col class="sixty" />
                    </colgroup>
                    <tr>
                        <th colspan = "2">Account Information</th>
                     </tr>
                    <tr>
                        <td>  Customer Name  </td>
                        <td> Guest </td>
                    </tr>
                    <tr>
                        <td> Email </td>
                        <td> abcd@gmail.com </td>
                    </tr>
                    <tr>
                        <td> Customer Group </td>
                        <td> Not Logged In </td>
                    </tr>
                </table>

            </div>
           </div>


           <div class="row d-flex">
            <div class="col-6">
                   
                <table class="table ">
                                     
                    <colgroup>
                      <col class="forty" />
                      <col class="sixty" />
                    </colgroup>
                    <tr>
                        <th colspan = "2">Billing Address</th>
                    </tr>
                    <tr>
                        <td colspan = "2" class="left">
                            Erica lewis <br> 4500 <br> united state <br> T-12345
                        </td>
                    </tr>
                    
                </table>

            </div>
            <div class="col-6">
                 
                <table class="table ">
                                     
                    <colgroup>
                      <col class="forty" />
                      <col class="sixty" />
                    </colgroup>
                    <tr>
                        <th colspan = "2">Shipping Address</th>
                    </tr>
                    <tr>
                        <td colspan = "2" class="left">
                            Erica lewis <br> 4500 <br> united state <br> T-12345
                        </td>
                    </tr>
                    
                </table>
            </div>
           </div>
            
           <div class="row d-flex">
            <div class="col-6">
                   
                <table class="table ">
                    <colgroup>
                      <col class="twenty" />
                      <col class="eighty" />
                    </colgroup>
                    <tr>
                        <th colspan = "2"> Order# 2000 (the order confirmation was sent)</th>
                     </tr>
                    <tr>
                        <td> Visa Encoding </td>
                        <td> xxx8001 </td>
                    </tr>
                    <tr>
                        <td> Card Country </td>
                        <td> Unknown </td>
                    </tr>
                    <tr>
                        <td> Charge </td>
                        <td> Normal </td>
                    </tr>
                    <tr>
                        <td> Rader Risk </td>
                        <td> Pass </td>
                    </tr>
                    <tr>
                        <td> Street Check  </td>
                        <td> Pass </td>
                    </tr>
                    <tr>
                        <td>CVC Check  </td>
                        <td> Unchecked </td>
                    </tr>
                    <tr>
                        <td>Captured </td>
                        <td> Yes </td>
                    </tr>
                    <tr>
                        <td>Refunded </td>
                        <td> No </td>
                    </tr>
                    <tr>
                        <td> payment </td>
                        <td> <a href=""> View in Stripe</a> </td>
                    </tr>
                    <tr>
                        <td> customer </td>
                        <td> <a href=""> View in Stripe</a> </td>
                    </tr>
                    <tr>
                        <td colspan = "2"> Order was placed using USD</td>
                     </tr>
                </table>

            </div>
            <div class="col-6">
                 
                <table class="table ">
                                     
                    <colgroup>
                      <col class="forty" />
                      <col class="sixty" />
                    </colgroup>
                    <tr>
                        <th colspan = "2">Billing Address</th>
                    </tr>
                    <tr>
                        <td colspan = "2" class="left">
                           <b> DHL-EXPRESS SHIPPING </b> $25.00
                        </td>
                    </tr>
                    
                </table>

            </div>
           </div>
 
           <div class="row">
            <div class="col-12">
                <table class="table ">
                                     
                    <colgroup>
                      <col class="thirtyseven" />
                      <col class="seven" />
                      <col class="seven" />
                      <col class="seven" />
                      <col class="seven" />
                      <col class="seven" />
                      <col class="seven" />
                      <col class="ten" />
                      <col class="ten" />
                    </colgroup>
                    <tr>
                        <th colspan = "10">Billing Address</th>
                    </tr>
                    <tr>
                        <th> Product</th>
                        <th>Item Status</th>
                        <th>Original Price</th>
                        <th> Price </th>
                        <th> Qty</th>
                        <th>Sub Total</th>
                        <th>Tax Amount</th>
                        <th>Tax Percent</th>
                        <th>Discount Amount</th>
                        <th>Row Total</th>
                    </tr>
                    <tr>
                        <td>
                            <span> <b> Dragon </b></span> <br>
                            <span> <b>SKU:</b> UK105</span> <br>
                            <span>Sharpen Blade</span>
                        </td>
                        <td>invoice</td>
                        <td> $99</td>
                        <td> $99</td>
                        <td> 
                          <span>ordered 1</span> <br>
                          <span>invoice 1</span>  
                        </td>
                        <td> <b>$0.0</b></td>
                        <td>$0.0</td>
                        <td>$0.0</td>
                        <td> 0%</td>
                        <td> $2.5</td>
                    </tr>
                </table>
            </div>
           </div>

           <div class="row d-flex">
            <div class="col-6" >
                   
                <table class="table ">
                    <colgroup>
                      <col class="hundred" />
                    </colgroup>
                    <tr>
                        <th > Common History</th>
                    </tr>
                    <tr>
                        <td > Add Order Comments</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-3" for="des">Comment</label>
                            <textarea class="col-9" formControlName="des" type="text" class="form-control"  id="des"></textarea>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="col-6">
                 
                <table class="table " id="order-total" >
                                     
                    <colgroup>
                      <col class="eighty" />
                      <col class="twenty" />
                    </colgroup>
                    <tr>
                        <th colspan = "2">Order Total</th>
                     </tr>
                    <tr>
                        <td>  Sub Total </td>
                        <td> $0.00 </td>
                    </tr>
                    <tr>
                        <td> Shipping and Handling </td>
                        <td> $0.00 </td>
                    </tr>
                    <tr>
                        <td> <b>Grand Total </b> </td>
                        <td class="orgtext"> $0.00 </td>
                    </tr>
                    <tr>
                        <td> <b>Total Paid </b> </td>
                        <td class="orgtext"> $0.00 </td>
                    </tr>
                    <tr>
                        <td> <b>Total Refunded </b> </td>
                        <td class="orgtext"> $0.00 </td>
                    </tr>
                    <tr>
                        <td> <b> Total Due </b> </td>
                        <td class="orgtext"> $0.00 </td>
                    </tr>
                </table>

            </div>
           </div>






        </div>

         
       </div>
    </div>
 </div>