<div class="container-fluid">
  <div class="row">
    <div class="col-12">
       
         <div class="container-fluid">
          <div class="row d-flex">
           
               <div class="col-6 left-banner ">
                  <img src="assets/images/pic1.png" alt="bitmap1.png" class="img-fluid">
                  <div class="row d-flex flex-column bottom-right">
                      <div class="col-12"> <h1>GOLDEN EDGE</h1> </div>
                      <div class="col-12"> <p>Price : <span>$99.15 </span><del>135.15 </del></p></div>
                      <div class="col-12"> <BUTTON>ADD TO CART</BUTTON></div>                    
                  </div>
               </div>               
               <div class="col-6 right-banner ">
                <img src="assets/images/pic2.png" alt="bitmap1.png" class="img-fluid">
                  <div class="row d-flex flex-column bottom-left ">
                      <div class="col-12"> <h1>SHARP DARK BLUE</h1> </div>
                      <div class="col-12"> <p>Price : <span>$99.15 </span><del>135.15 </del></p></div>
                      <div class="col-12"> <BUTTON>ADD TO CART</BUTTON></div>                    
                  </div>
               </div>
          </div>
       </div>


      <div class="centered">
          <h3>FREE SHIPPING OVER $100 ALL PRODUCTS</h3>
      </div>




    </div>
  </div>
</div>
  