*{
	padding: 0;
	margin: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.footer-tittle{
  color: rgba(255,255,255,255);
  font-size: 1vw;
  font-weight: bold;
  font-family:'Lato';
}
.footer-text{
  color: rgba(204,204,204,255);
  font-size: 1vw;
}
i{
	margin-right: .2vw;
}
.footer-text i{
	font-size: .9vw;
	margin-right: .15;
}
.line{
    width:100%;
    margin-bottom: 1.4vw;
}
.color-1{
    background:#FFCD00;
    height: 0.1vw;
}
.color-2{
    background:#DDDDDD;
    height: 0.05vh;
}
 span{ display:block; width:90%; float:left; height:5px;}
 span:nth-child(1){
  width: 10%;
}
.box{
	padding-top: 3vw;
	padding-bottom: 3vw;
	padding-left: 1vw;
	padding-right: 1vw;
}
input{
 background-color: #1E1E1E;
 color: rgba(107,107,107,255);
 border: none;
 font-size: 0.85vw;
 width: 100%;
 padding: .5vw;
 margin-bottom: .5em;
 font-family:'Lato';
 white-space: nowrap;
}
@media only screen and (max-width: 800px) {
  input {
    margin-bottom: .5em;
  }
  .divlineheight{
    line-height: 0;
  }
  
}
button{
 text-align: center;
 padding: .5vw;
 background-color:#FFCC00;
 color: white;
 margin-top:1vw;
 font-size: .9vw;
 font-weight: bold;
 font-family:'Lato';
 white-space: nowrap; 	
 width: 100%;
}
.footer-icon{
	background-color: #1E1E1E;
	width: 2vw;
	height: 2vw;
	margin: .1vw;
  text-align: center;
  font-size: 1.2vw;
}
.footer-icon i{
	color: #666666;
  font-size: 1vw;
}
.copyright{
	color: rgba(76,76,76,255);
	font-size: .7vw;
	font-family:'Lato';
    white-space: nowrap;
}
#my-p{
	color: white;
	font-family:'Lato';
    white-space: nowrap;
    font-size: .8vw;
    font-weight: bold;
    margin-right: .3vw;
    margin-top: auto;
    margin-bottom: auto;
}
#my-input{
	width: 80%;
	background-color: white;
	font-size: .8vw;
	font-family:'Lato';
    white-space: nowrap;
    height: 2vw;
}
#my-anchor{
  background-color: white;	
  font-size: .8vw;
  padding-right:  .7vw;
  padding-top: .3vw;
  height: 2vw;
  text-align: center;  
}
.box-fa{
  font-size:4vw;
  color:#333333;
  vertical-align: middle;
}