      <FOOTER>
    <!-- NINETH TABLE (ORANGE CONTAINER) -->
    <div class="container-fluid box" style="background-color: #222222">
       <div class="row justify-content-center">
          <!--FIRST COLUMN-->
          <div class="col-3">
            <div class="footer-col">
               <h3 class="footer-tittle" style="font-size: 1.7vw">SWORDSKINGDOM </h3>
               <p class="footer-text" style="margin-top: 1vw">Magically avocative notes <br> immediately awaken your deepest <br> senses.giving you the impression of <br>living life in your own secret garden,<br> away from reality </p>
                <div class="footer-text" style="margin-top: 1.5vw;">
                  <i class="fa fa-map-marker" aria-hidden="true"> 168 Lost Angles</i><br>
                  <i class="fa fa-envelope" aria-hidden="true"> info@watches.com</i><br>
                  <i class="fa fa-phone-square" aria-hidden="true"> Call:900 100 2345</i> 
                </div>
            </div>
          </div>
          <!--SECOND COLUMN-->
          <div class="col-2">
             <div class="footer-col">
               <h3 class="footer-tittle">::SITE MAP </h3>
               <div class="line">
                  <span class="color-1"></span>
               </div>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Home </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Shop </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>About Us </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Blog </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Your Account </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Guarantee </p>
             </div>
         </div>
         <!--THIRD COLUMN-->
          <div class="col-2">
             <div class="footer-col">
               <h3 class="footer-tittle"><i class="fas fa-cog"></i> OURCOMPANY </h3>
               <div class="line">
                  <span class="color-1"></span>
                </div>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Shipping Policy </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>International Shipping </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Afflities </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Sponsors </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Terms and Conditions </p>
               <p class="footer-text"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Cash on Delivery </p>
             </div>
          </div>
          <!--FOURTH COLUMN-->
          <div class="col-2">
            <div class="footer-col">
             <h3 class="footer-tittle"><i class="fa fa-envelope" style="color: white" aria-hidden="true"></i>QUICK CONTACT </h3>
             <div class="line">
                <span class="color-1"></span>
              </div>
             <p class="footer-text">Magically avocative notes <br> immediately awaken your deepest </p>
             <div class="divlineheight" style="margin-top: 2vw;">
                <input  type="text" name="aa" value="YOUR EMAIL">
                <input  type="text" name="bb" value="MESSAGE">
                <button>SEND EMAIL</button>
                <div class="d-flex">
                   <div class="footer-icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                   <div class="footer-icon"><i class="fa fa-pinterest-p" aria-hidden="true"></i></div>
                   <div class="footer-icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                   <div class="footer-icon"><i class="fa fa-behance" aria-hidden="true"></i></div>
                   <div class="footer-icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                </div>
             </div>
                
             </div>
         </div>
        
      </div>
    
      <div class="container-fluid" style="margin-top: 1vw">
        <div class="row justify-content-center">
          <div class="col-9" style="display: inline;">
             <img style="width: 5.5vw;height: 3.4vw;margin-right: .5vw;border-radius: .3vw; " src="assets/images/securessl.png">
           
              <i class="box-fa fa fa-cc-paypal"></i>
              <i class="box-fa fa fa-cc-visa"></i>
              <i class="box-fa fa fa-cc-stripe"></i>
                     
        </div>
        </div>
      </div>


    </div> 
    <div class="container-fluid copyright" style="background-color: #1B1B1B;text-align: center;">
     <p> Copyright <b>fillcraft.com</b> © 2020 All Right Reserved</p>
    </div>
 </FOOTER>