<div class="container-fluid" id="form">
    <app-orderheader></app-orderheader>
    <div class=" row d-flex justify-content-between alig-items-center justify-content-center form-header">
        <div class="d-flex justify-content-start">
                <div class="d-flex align-items-center pagination">
                    <span> Page</span>
                    <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1vw;"></i>
                    <input style="width: 3vw;height: 1.5vw;margin: 0vw .3vw;">
                    <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1vw ;"></i>
                    <span>of 1 pages</span>
                </div>
                  <div class="d-flex align-items-center pagination" style="border-left: .1vw solid black;">
                    <span> Views </span>
                    <input style="width: 3vw;height: 1.5vw;">
                    <span>Per Page</span>
                  </div>
                  <div class="d-flex align-items-center pagination" style="border-left: .1vw solid black;">
                    <span> Total 0 Records Found </span>
                  </div>
               
        </div> 
        <button> <i class="fa fa-plus-circle" aria-hidden="true"></i>  Create New Attribute</button>
    </div>
    <div class="row d-flex justify-content-start">
       <div class="col-12">
        
        
        <table class="table table-bordered" id="relatedproducts">
            <colgroup>
              <col class="hundred" />
            </colgroup>
            <tr>
                <div class="d-flex flex-column">
                    <div class="d-flex">
                      <div>
                        <span> <b>15 dec 2020</b> 17:00:01</span>
                        <span> <b>Processing</b></span>
                        <span>Custom Notification Not Applicable</span>
                      </div>
                    </div>
                    <div class="d-flex">
                      <span>Captured Amount of $1.99 online transaction</span>
                    </div>
                </div>
            </tr>
            <tr>
              <div class="d-flex flex-column">
                  <div class="d-flex">
                    <div>
                      <span> <b>15 dec 2020</b> 17:00:01</span>
                      <span> <b>Processing</b></span>
                      <span>Custom Notification Not Applicable</span>
                    </div>
                  </div>
              </div>
          </tr>        
        </table>
        
       </div>
    </div>
 </div>