th{
    font-size: .8vw;
    padding: .3vw;
    color: white;
}
td{
    text-align: left;
}
.left{
    text-align: left;
}

#order-total td{
    text-align: right;
    background-color: rgb(245, 239, 182);
}
.orgtext{
    color:orange;
    font-weight: bold;
}

/*tabs*/

ul.tabs{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: .3vw;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: .5vw 1vw;
    cursor: pointer;
    margin-left: .4vw;
    background-color:#ededed;
    border-top-left-radius:3px;  
    border-top-right-radius:3px;
}

ul.tabs li.current{
    background: white;
    color: #222;
}

.tab-content{
    display: none;
    background: white;
    padding: 1.5vw;
}

.tab-content.current{
    display: inherit;
}

/*tabs*/