<div class="row d-flex justify-content-between namebar">
    <h2>Ertugrul Sword Replica (Default)</h2>
    <div class="d-flex">
    <button class="orgbtn" style="background-color: rgb(216, 212, 212);"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</button>
    <button class="orgbtn"> Reset</button>
    <button class="orgbtn" style="background-color: rgb(235, 115, 115);"> Delete</button>
    <button class="orgbtn"> <i class="fa fa-plus-circle" aria-hidden="true"></i>  Create New Attribute</button>   
    <button class="orgbtn"> <i class="fa fa-plus-circle" aria-hidden="true"></i>  Duplicate</button>
    <button class="orgbtn"> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Save</button>
    <button class="orgbtn"> <i class="fa fa-check-circle-o" aria-hidden="true"></i> Save and Continue Edit</button>
   </div>
</div>